* {
  box-sizing: border-box; }

html {
  height: 100%; }

img.nanowrimo {
  height: 62px;
  padding: 2px; }

.navbar ul li a.nano {
  border: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px; }

.album_img {
  height: 200px;
  border: 6px solid rgba(0, 39, 59, 0.35);
  float: left;
  margin-right: 8px; }

div.album {
  clear: both;
  overflow: auto;
  margin: 8px;
  border: 1px solid rgba(0, 39, 59, 0.35); }

div.other_albums img {
  height: 225px;
  margin: 1px;
  border: 1px solid rgba(0, 39, 59, 0.35); }

.diptychPanel {
  display: inline-block; }

.diptych p {
  display: inline-block; }

.portal {
  display: inline-block;
  position: relative;
  padding: 5px;
  margin: 5px 2px;
  border: 1px solid #dcdcde; }

.portal img {
  width: 250px;
  height: 250px;
  margin: none;
  padding: none; }

.portal .overlay {
  width: 250px;
  height: 250px;
  position: absolute;
  margin: 5px;
  top: 0px;
  left: 0px;
  display: none;
  text-align: center;
  color: white; }
  .portal .overlay p {
    position: relative;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%); }

.portal:hover .overlay {
  display: block;
  background-color: #aaa;
  z-index: 1;
  opacity: 0.75; }

body#gallery {
  background: #fefefe; }

div.gallery {
  text-align: center;
  margin: 0px auto;
  padding: 10px;
  background-color: #eee;
  width: 70%;
  height: 90%; }

#gallery_page {
  text-align: center;
  margin: 0px auto;
  padding: 10px;
  height: 90%;
  background-color: whitesmoke; }
  #gallery_page ul.slick-dots {
    width: 100%;
    margin: 0px auto;
    bottom: auto;
    position: relative; }
  #gallery_page .slick-prev:before, #gallery_page .slick-next:before {
    color: #CCC; }
  #gallery_page canvas {
    padding: 20px;
    border: 1px solid #CCC;
    margin: 0px auto;
    text-align: center; }

body#gallery_page {
  background-color: whitesmoke; }

body#syn {
  padding: 10px;
  background-color: whitesmoke; }
  body#syn h1 {
    color: #999; }
  body#syn hr {
    border-top: 1px solid #CCC; }
  body#syn .container {
    margin: 0px auto;
    width: 85%; }
  body#syn .canvases {
    margin: 0px auto; }
  body#syn .syn_canvas {
    display: inline-block; }
  body#syn .experience {
    margin-top: 40px; }

body#rgb_interactive {
  margin: 0; }
  body#rgb_interactive canvas {
    margin: auto; }
  body#rgb_interactive header {
    box-sizing: border-box;
    height: 50px;
    padding-top: 15px;
    background: #333; }
    body#rgb_interactive header ul {
      display: flex;
      justify-content: space-around;
      margin: 0; }
    body#rgb_interactive header li {
      display: inline-block; }
    body#rgb_interactive header .key {
      font-weight: bold;
      color: #aaa; }
    body#rgb_interactive header .effect {
      color: #888; }

body#artoo footer {
  position: fixed;
  bottom: 5px;
  right: 5px; }
  body#artoo footer a {
    color: #7f8c8d;
    font-weight: normal;
    text-decoration: underline; }

#gahp {
  background-color: #333; }
  #gahp canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid #111;
    margin: auto; }

body#home {
  font: 10px sans-serif;
  background-color: mintcream;
  margin: 0;
  min-height: 100%; }

#home .void {
  background-color: mintcream; }

#home .yolk {
  font-size: 20px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-color: black; }

#home circle.yolk {
  fill: #E7E7EF; }

#home .arc path {
  stroke: #fff; }

#home g text {
  font-size: 8px;
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  font-color: black; }

#home ul {
  margin: 0;
  padding: 0; }

#home .projects-list-container {
  padding-left: 0; }

#home .home-main-menu a, #home .home-main-menu a:visited, #home .home-main-menu a:active {
  text-decoration: none;
  color: mintcream;
  font-size: 3em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 1em; }

#home .home-main-menu a:hover {
  color: steelblue;
  background-color: mintcream; }

#home .home-main-menu li {
  list-style-type: none;
  min-height: 12.66vh;
  display: flex;
  align-items: stretch; }

#home .home-main-menu li:nth-child(1) {
  background: tomato; }

#home .home-main-menu li:nth-child(2) {
  background: lightsalmon; }

#home .home-main-menu li:nth-child(3) {
  background: salmon; }

#home .home-main-menu li:nth-child(4) {
  background: lightsteelblue; }

#home .home-main-menu li:nth-child(5) {
  background: turquoise; }

#home .home-main-menu li:nth-child(6) {
  background: paleturquoise; }

#home .home-main-menu li:nth-child(7) {
  background: darkturquoise; }

#home .home-main-menu li:nth-child(8) {
  background: mediumaquamarine; }

#home li.gallery {
  min-height: 24vh; }

#home .artoo i {
  padding-left: 0.1em; }

#music_vis path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px; }

#music_vis circle.original {
  fill: mediumaquamarine; }

#music_vis text.original {
  fill: mediumaquamarine;
  font: 10px sans-serif;
  pointer-events: none; }

#music_vis text.mouseover {
  fill: tomato;
  font: 24px sans-serif; }

#music_vis circle.mouseover {
  fill: tomato; }

#about {
  font-family: 'Quicksand', sans-serif;
  background: #eee;
  color: #333; }

#about * {
  box-sizing: border-box; }

#about .container {
  margin-left: 50px;
  display: grid;
  grid-template-rows: min-content minmax(310px, 1fr);
  grid-template-columns: 310px minmax(400px, 625px) 1fr;
  grid-gap: 45px;
  justify-items: center; }

#about h1 {
  font-weight: lighter;
  font-size: 2.75em;
  padding-left: 0.5em;
  border-bottom: 1px solid #333;
  width: 100%;
  grid-column: 1 / 3; }

#about .outer {
  grid-row: 2;
  grid-column: 1;
  height: 200px;
  width: 200px;
  transform: rotate(45deg);
  border: 1px solid #333;
  background: rgba(50, 150, 150, 0.5); }

#about .middle {
  transform: rotate(157.5deg);
  border: 1px solid #333;
  background: rgba(50, 150, 150, 0.5); }

#about .inner {
  transform: rotate(45deg);
  border: 1px solid #333;
  background: rgba(50, 150, 150, 0.5); }

#about .innermost {
  transform: rotate(112.5deg);
  border: 1px solid #333;
  background: transparent;
  padding: 10px; }

#about img {
  max-width: 100%; }

#about .text {
  padding-left: 20px;
  justify-self: left;
  grid-row: 2;
  grid-column: 2; }

@media screen and (max-width: 925px) {
  #about .container {
    grid-gap: 45px 0px; } }

@media screen and (max-width: 825px) {
  #about .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 310px 1fr;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    grid-gap: 10px 0px; }
  #about h1 {
    grid-column: 1;
    grid-row: 1; }
  #about .outer {
    grid-column: 1;
    grid-row: 2; }
  #about .text {
    grid-row: 3;
    grid-column: 1; } }
