---
layout: gallery 
body_id: "gallery_page"
title: "Scribbler"
date: 2015-08-17 21:10:21 -0400
---

!!!
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/javascripts/processing.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/javascripts/gallery_page.js"></script>
.gallery_page#gallery_page
  <div><canvas status="off" data-processing-sources="/processing_gallery/scribbler/scribbler.pde"> </canvas></div>
  <div><canvas status="off" data-processing-sources="/processing_gallery/scribbler/scribbleX.pde"> </canvas></div>
