---
layout: gallery 
body_id: "gallery_page"
title: "Scribbler"
date: 2015-08-17 21:10:21 -0400
---

!!!
<script type="text/javascript" src="{{ root_url }}/javascripts/processing.min.js"></script>
#gallery_page
  <canvas status="off" data-processing-sources="/processing_gallery/scribbler/scribbler.pde"> </canvas>
