---
layout: syn 
body_id: "rgb_interactive"
title: "RGB Interactive"
date: 2016-02-21 18:33
sharing: true
---
!!!
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/p5.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.22/addons/p5.dom.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/javascripts/sketch.js"></script>
%header
  %ul
    %li
      %span.key
        r
      %span.effect
        more red
    %li
      %span.key
        g
      %span.effect
        more green 
    %li
      %span.key
        b
      %span.effect
        more blue 
    %li
      %span.key
        space 
      %span.effect
        reset colours
    %li
      %span.key
        \- 
      %span.effect
        darker
    %li
      %span.key
        \=
      %span.effect
        lighter 
