html{
  font-size: 14px;
}

body {
  background-color: mintcream;
  color: #444;
  font-family: "Glegoo", "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.void {
  background-color: mintcream;
}

.yolk {
  font-size: 1.75rem;
  color: #444;
}

.yolk:hover {
  cursor: pointer;
}

circle.yolk {
  fill: #E7E7EF;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

g {
  font-size: 0.75rem;
  text-anchor: middle;
}

.stupid-firefox {
  word-wrap: break-all;
}
