---
layout: gallery 
body_id: "gallery_page"
title: "Pretty Atom"
date: 2016-02-08 20:37:21 -0400
---

!!!
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/javascripts/processing.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script type="text/javascript" src="{{ root_url }}/javascripts/gallery_page.js"></script>
.gallery_page#gallery_page
  <div><canvas status="off" data-processing-sources="/gallery/processing_gallery/atom/prettyatom.pde"> </canvas></div> 
  <div><canvas status="off" data-processing-sources="/gallery/processing_gallery/atom/sketchedpool.pde"> </canvas></div> 
  <div><canvas status="off" data-processing-sources="/gallery/processing_gallery/atom/sketchyglitter.pde"> </canvas></div> 
  <div><canvas status="off" data-processing-sources="/gallery/processing_gallery/atom/toopretty.pde"> </canvas></div> 
