* {
  box-sizing: border-box;
}
html {
  height: 100%
}
// Add your custom styling here.
img.nanowrimo {
    height: 62px;
    padding: 2px;
}

.navbar ul li a.nano {
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.album_img {
    height: 200px;
    border: 6px solid rgba(0, 39, 59, 0.35);
    float: left;
    margin-right: 8px;
}

div.album {
   clear: both;
   overflow: auto;
   margin: 8px;
   border: 1px solid rgba(0, 39, 59, 0.35);
}

div.other_albums img {
   height: 225px;
   margin: 1px;
   border: 1px solid rgba(0, 39, 59, 0.35);
}

.diptychPanel {
    display: inline-block;
}

.diptych p{
    display: inline-block;
}

//**************************************
//GALLARY
//**************************************
$bg-colour: #fefefe;
$centre-bg-colour: #eee;
$overlay-text-colour: #aaa;
$border-colour: #dcdcde;
.portal{
    display: inline-block;
    position: relative;
    padding: 5px;
    margin: 5px 2px;
    border: 1px solid $border-colour;
}

.portal img {
    width: 250px;
    height: 250px;
    margin: none;
    padding: none;
}

.portal .overlay {
    width: 250px;
    height: 250px;
    position: absolute;
    margin: 5px;
    top:0px;
    left:0px;
    display: none;
    text-align: center;
    color: white;
    p {
        position: relative;
        font-size: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.portal:hover .overlay {
    display:block;
    background-color:$overlay-text-colour;
    z-index: 1;
    opacity:0.75;
}

body#gallery {
    background: $bg-colour;

    * {
      box-sizing: border-box;
    }

    nav {
      position: absolute;
      top: 0;
      left: 10px;
    }

    nav a {
      color: #eee;
    }
}

div.gallery {
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    background-color: $centre-bg-colour;
    width: 70%;
    height: 90%;
}

body#gallery {
  @media screen and (max-width: 500px) {
    & {
      padding: 0;
    }

    .gallery {
      width: 100%;

    }
  }
}

//**************************************
//GALLERY PAGE
//**************************************
$gallery_page_bg: rgb(245,245,245);
$gallery_page_accent: #CCC;

#gallery_page{
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    height: 90%;
    background-color: $gallery_page_bg;
    ul.slick-dots{
        width: 100%;
        margin: 0px auto;
        bottom: auto;
        position: relative;
    }
    .slick-prev:before, .slick-next:before {
        color: $gallery_page_accent;
    }
    canvas {
        padding: 20px;
        border: 1px solid $gallery_page_accent;
        margin: 0px auto;
        text-align: center;
    }
}

body#gallery_page{
  background-color: $gallery_page_bg;
}

body#syn {
  padding: 10px;
  background-color: $gallery_page_bg;

  h1 {
    color: #999;
  }

  hr {
    border-top: 1px solid #CCC;
  }

  .container {
    margin: 0px auto;
    width: 85%;
  }

  .canvases {
    margin: 0px auto;
  }

  .syn_canvas {
    display: inline-block;
  }

  .experience {
    margin-top: 40px;
  }
}

body#rgb_interactive{

  margin: 0;

  canvas {
    margin: auto;
  }

  header {
    box-sizing: border-box;
    height: 50px;
    padding-top: 15px;
    background: #333;
    ul {
      display: flex;
      justify-content: space-around;
      margin: 0;
    }
    li {
      display: inline-block;
    }
    .key {
      font-weight: bold;
      color: #aaa;
    }
    .effect {
      color: #888;
    }
  }  
}

body#artoo {
  footer {
    position: fixed;
    bottom: 5px;
    right: 5px;

    a {
      color: #7f8c8d;
      font-weight: normal;
      text-decoration: underline;
    }
  }
}
#gahp {
  background-color: #333;

  canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid #111;
    margin: auto;
  }
}

body#home {
  font: 10px sans-serif;
  background-color: mintcream;
  margin: 0;
  min-height: 100%;
}

#home {

    .void {
      background-color: mintcream;
    }

    .yolk {
      font-size: 20px;
      font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
      font-color:black;
    }

    circle.yolk {
      fill: #E7E7EF;
    }

    .arc path {
      stroke: #fff;
    }

    g text {
      font-size: 8px;
      font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
      font-color:black;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    .projects-list-container {
      padding-left: 0;
    }

    .home-main-menu a, .home-main-menu a:visited, .home-main-menu a:active {
      text-decoration: none;
      color: mintcream;
      font-size: 3em;
      display: flex;
      align-items: center;
      width: 100%;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      padding-left: 0.5em;
    }

    .home-main-menu a:hover {
      color: steelblue;
      background-color: mintcream;
    }

    .home-main-menu li {
      list-style-type: none;
      min-height: 10.85vh;
      display: flex;
      align-items: stretch;
    }

    .home-main-menu  li:nth-child(1) {
      background: tomato;
    }
    
    .home-main-menu  li:nth-child(2) {
      background: darksalmon;
    }

    .home-main-menu  li:nth-child(3) {
      background: salmon;
    }

    .home-main-menu  li:nth-child(4) {
      background: lightsalmon;
    }

    .home-main-menu  li:nth-child(5) {
      background: lightsteelblue;
    }
    
    .home-main-menu li:nth-child(6) {
      background: turquoise;
    }
    
    .home-main-menu  li:nth-child(7) {
      background: paleturquoise;
    }

    .home-main-menu li:nth-child(8) {
      background: darkturquoise;
    }

    .home-main-menu li:nth-child(9) {
      background: mediumaquamarine;
    }

    li.gallery {
      min-height: 24vh; 
    }

    .artoo i {
      padding-left: 0.1em;
      padding-right: 0.25em;
    }


    
}

#music_vis {

  path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }

  circle.original {
    fill: mediumaquamarine;
  }

  text.original {
    fill: mediumaquamarine;
    font: 10px sans-serif;
    pointer-events: none;
  }

  text.mouseover {
      fill: tomato;
      font: 24px sans-serif;
  }

  circle.mouseover {
      fill: tomato;
  }
    
}

#about {

  & {
    font-family: 'Quicksand', sans-serif;
    background: #eee;
    color: #333;
  }

  * {
    box-sizing: border-box;
  }

  .container {
    margin-left: 50px;
    display: grid;
    grid-template-rows: min-content minmax(310px, 1fr);
    grid-template-columns: 310px minmax(400px, 625px) 1fr;
    grid-gap: 45px;
    justify-items: center;
  }

  h1 {
    font-weight: lighter;
    font-size: 2.75em;
    padding-left: 0.5em;
    border-bottom: 1px solid #333;
    width: 100%;
    grid-column: 1 / 3;
  }

  .outer {
    grid-row: 2;
    grid-column: 1;
    height: 200px;
    width: 200px;
    transform: rotate(45deg);
    border: 1px solid #333;
    background: rgba(50, 150, 150, 0.5);
  }

  .middle {
    transform: rotate(157.5deg);
    border: 1px solid #333;
    background: rgba(50, 150, 150, 0.5);
  }

  .inner {
    transform: rotate(45deg);
    border: 1px solid #333;
    background: rgba(50, 150, 150, 0.5);
  }

  .innermost {
    transform: rotate(112.5deg);
    border: 1px solid #333;
    background: transparent;
    padding: 10px;
  }

  img {
    max-width: 100%;
  }

  .text {
    padding-left: 20px;
    justify-self: left;
    grid-row: 2;
    grid-column: 2;
  }

  @media screen and (max-width: 925px) {
    .container {
      grid-gap: 45px 0px;
    }
  }

  @media screen and (max-width: 825px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 310px 1fr;
      margin-left: 25px;
      margin-right: 25px;
      align-items: center;
      grid-gap: 10px 0px;
    }
    
    h1 {
      grid-column: 1;
      grid-row: 1;
    }

    .outer {
      grid-column: 1;
      grid-row: 2;
    }

    .text {
      grid-row: 3;
      grid-column: 1;
    }
}

}
