// Add your custom styling here.
img.nanowrimo {
    height: 62px;
    padding: 2px;
}

.navbar ul li a.nano {
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
